.float-label{
  position: relative;
    
  }
  .label-select{
    /* font-size: 12px; */
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    background: white;
    width: auto;
    top: -8px;
    left: 11px;
    padding: 0 6px;
    font-size: 10px;
    letter-spacing: 1px;
    color: gray;
    /* transition: 0.2s ease all; */
  }
  
  .label-focus{
    color:#ed9324;
  }
  